 html::-webkit-scrollbar
 {
     width: 0px;
     background-color: #F5F5F5;
 }

 body {
     color: #000;
     font-size: 1rem;
     font-weight: 400;
 }

 a {
     text-decoration: none !important;
 }

.overlay-container .grow { transition: all 2s ease-in-out; }
.overlay-container .grow:hover { transform: scale(1.1); }

 h1, h2, h3, h4, h5, h6, .navbar .navbar-nav {
    font-family: "Roboto", sans-serif;
    text-transform: none;
}

.w-30  {
    width: 30% !important;
}

.w-40  {
    width: 40% !important;
}

h2 {
    font-size: 36px;
    text-transform: initial;
}

.header .navbar-nav .dropdown-toggle::after {
    content: "";
}

.header .navbar-nav li ul.dropdown-menu {
    border-radius: 3px;
}

ul.dropdown-menu > li:first-of-type > a
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

ul.dropdown-menu > li:last-of-type > a
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none !important;
}

.nav-item.dropdown.active {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    z-index: 106;
}

.nav-item.dropdown.active a.active{
    color: #3F51B5 !important;
    font-weight: 600;
}

.header .navbar-nav .active > .nav-link, .header .navbar-nav li .nav-link.active {
    color: #3F51B5 !important;
    font-weight: 600;
}

.header .navbar-nav li.dropdown .nav-link {
    padding-right: 15px;
}

.transparent-header .dark.header .navbar-nav li .nav-link {
    color: #ffffff;
}
.product-title,.media-heading {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
}
#section1 .overlay-container {
    background: #ffffff;
    margin-right: 10px;
}

#section1 .media-heading a {
    text-transform: initial;
    line-height: 1.4;
}

/* .masonry-grid-item img {
    object-fit: contain;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
} */

@media (min-width: 1400px) {
    .header .navbar-nav > li {
        margin: 0px 0px 0px 0px;
    }
    .container {
        max-width: 1330px
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1235px
    }
}

@media (max-width: 992px) {
    .col-xs-12 {
        width: 100%;
    }
    .w-30  {
        width: 100% !important;
    }
    
    .w-40  {
        width: 100% !important;
    }
}


@media (max-width:480px) {
    .caption-box p.slider-content {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .caption-box h2.slider-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .caption-box .btn {
        font-size: 13px;
        padding: 5px 10px;
    }
}

.transparent-header .dark.header .navbar-nav li .nav-link {
    font-weight: 400;
    color: #ffffff;
    text-shadow: none;
}

.dark.header .dropdown-menu > li > a, .dark.header .navbar-nav .mega-menu .menu > li > a {
    color: #000;
    text-shadow: none;    
    font-weight: 400;
    border-color: #003d7c;
}

.dark.header .dropdown-menu > li > a:hover {
    color: #ffffff;
    background-color: #003d7c;
}

.dark.header .dropdown-menu {
    background-color: #ffffff;
}

#section1 .media {
    min-height: 65px;
    display: flex;
    align-items: center;
}

.media-object {
    object-fit: contain;
    height: 50px;
}

.object-fit-contain {
    object-fit: contain;
}

.object-fit-cover {
    object-fit: cover;
}
.object-fit-fill {
    object-fit: fill;
}

.page-link.disabled {
    cursor: no-drop;
    opacity: 0.8;
    background: #777777 !important;
    border-color: #777777 !important;
}


.dept.dark-translucent-bg {
    min-height: 300px;
    padding-top: 100px;
}

.sidebar .nav.flex-column > li .nav-link{
    font-size: 15px;
} 
.table td, .table th {
    vertical-align: middle;
} 

.table td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.table p {
    margin: 0;
}

.main table:not(.table){
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.main table:not(.table) thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}
.main table:not(.table) th, table:not(.table) td{
    padding: 12px 15px;
}
.main table:not(.table) tbody tr{
    border-bottom: 1px solid #dddddd;
}
.main table:not(.table) tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.main table:not(.table) tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}