body {
    max-width: 100vw;
    overflow-x: hidden;
}

.f-s-90 {
    font-size: 90%;
}

.w-70-px {
    width: 70px;
}

.w-120-px {
    width: 120px;
}

.w-200-px {
    width: 200px;
}

.w-20-px {
    width: 20px !important;
}

.body-message {
    margin: 0 -15px;
    padding: 0;
}

.list-unstyled {
    margin-bottom: 0px;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner table {
    width: 100% !important;
}

.treeview-item.actived {
    color: #1976D2;
    font-weight: bold;
}

#modalImg .modal-body {
    min-height: 470px
}


.ui-dialog.ui-corner-all {
    min-width: 700px;
}


.control-label {
    color: #1976D2;
    font-weight: 600;
}