.list-unstyled {
    margin-bottom: 0px;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner table {
    width: 100% !important;
}

.treeview-item.actived {
    color: #1976D2;
    font-weight: bold;
}