.text-sm .card-title {
    font-size: 15px !important;
    font-weight: 600;
    flex: 1;
}

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}

.w-135px{
    width: 135px;
}

.card-header {
    padding: .75rem 1rem;
    align-items: center!important;
    display: flex;
}

.content-header .row{
    align-items: center!important;
}

.detail-title{
    margin-bottom: 0;
    font-size: 15px !important;
    font-weight: 600;
    flex: 1;
}

.card-header>.card-tools {
    margin-right: 0;
    height: 22px;
}

.text-sm .btn-tool {
    padding: 1px 5px;
}

.text-sm .content-header {
    padding: 12px .5rem;
}

.chc {
    padding: 6.5px 16px;
}

.m-70vh{
    min-height: 70vh;
}

.lh-1 {
    line-height: 1 !important;
}

.text-sm .tab-content .card-header {
    padding: 10px 20px 10px 15px;
}

a.text-primary:focus, a.text-primary:hover{
    color: #FE777B !important;
}

img.object-fit-fill{
    object-fit: contain;
}
#detail-img {
    min-height: 242px !important;
    min-width: 242px !important;
}
#detail-img img,#detail-img .sp-large{
    width: 242px !important;
    height: 242px !important;
}

.cursor-move {
    cursor: move;
}

.mw-145px {
    width: 145px !important;
}

.mw-85px {
    width: 85px !important;
}

.card-body {
    padding: 1rem;
}

.flex-1 {
    flex: 1 !important;
}

.text-sm {
    font-size: 13px !important;
}

.text-sm .btn {
    font-size: 12px !important;
}

.page-link {
    padding: 5px 10px;
}

.form-control-sm {
    font-size: 13px;
}

.text-black {
    color: black !important;
}

.bg-browm {
    background-color: #C55A11 !important;
    color: #fff;
}

.bg-blue {
    background-color: #2196F2 !important;
}

.bg-danger-light {
    background-color: #FE777B !important;
    color: #ffffff;
}

.bg-beige {
    background-color: beige !important;
}

.brand-text {
    font-size: 16px;
}

.brand-link.text-sm .brand-image,
.text-sm .brand-link .brand-image {
    opacity: .8;
}

.invalid-tooltip .list-unstyled {
    margin-bottom: 0;
}

.invalid-feedback .list-unstyled {
    margin-bottom: 0;
    font-size: 110%;
}

.hidden {
    display: none !important;
}

.table{
    margin-bottom: 0;
}

/* .bg-warning,
.bg-warning>a {
    color: #fff !important;
} */

.swal2-styled.swal2-confirm:active,
.swal2-styled.swal2-confirm:hover,
.swal2-styled.swal2-confirm {
    border-color: rgba(76, 175, 79, 0.5);
}

.swal2-styled.swal2-cancel:active,
.swal2-styled.swal2-cancel:hover,
.swal2-styled.swal2-cancel {
    border-color: rgba(243, 67, 54, 0.5);
}

.profile-user-img {
    height: 100px;
}

.elevation-3 {
    box-shadow: none !important;
}

/* select2 */
.input-group .select2-container {
    flex: 1 1 auto;
    width: 100% !important;
}

.select2 .select2-selection {
    border: none;
    padding-left: 0;
    background-image: linear-gradient(#F44335, #F44335), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0px 1px, 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    height: 32px;
}

table .select2 .select2-selection {
    height: 25px;
}

.select2.is-invalid .select2-selection {
    padding-right: 0;
    background-position: bottom;
    background-image: linear-gradient(#F44335, #F44335), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 1px, 100% 1px;
}

.select2-container--default .select2-selection--single {
    padding-top: 4px;
    padding-bottom: 4px;
}

.select2.is-valid .select2-selection {
    background-image: linear-gradient(#D2D2D2, #D2D2D2), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 1px, 100% 1px;
    background-position: bottom;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

select.is-valid+.select2 .select2-selection {
    background-image: linear-gradient(#D2D2D2, #D2D2D2), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 1px, 100% 1px;
    background-position: bottom;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
select.is-valid+.select2 .select2-selection.select2-selection--multiple {
    padding-top: 0;
    padding-bottom: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
}

.select2-container--default.select2-container--disabled {
    background-color: #e9ecef;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: not-allowed;
    background-color: transparent;
    background-image: linear-gradient(#D2D2D2, #D2D2D2), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-size: 0px 1px, 100% 1px !important;
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 25px;
    margin-top: 0;
    padding-left: 0;
}

table .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px;
}



.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 25px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #003D7A
}

/* breadcrumb */
.content-header .breadcrumb {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

/* datatable */
table.dataTable {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.dt-bootstrap4 .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dt-bootstrap4 .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
}

div.dataTables_wrapper div.dataTables_length label {
    margin-bottom: 0;
}

/* div.dataTables_wrapper .top {   
    height: 0;
}
div.dataTables_wrapper .top .dataTables_length {
    position: absolute;
    top: 20px;
    right: 25px;
}

.searchForm{
    margin-right: 130px;
} */

.table td.select-box {
    line-height: 1 !important;
}

.table td, .table th {
    padding: 8px;
}

.table th a i{
    line-height: 1.5;
}

table .form-group {
    margin: 0;
    padding: 0;
}

table .form-control, table .form-group .form-control {
    height: 25px;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 1px
}

.dataTable.table-bordered thead td,
.dataTable.table-bordered thead th {
    border-left-width: 1px !important;
    border-right-width: 1px !important;
}

.dataTable.table-bordered thead tr:first th:first-of-type {
    border-left-width: 2px !important;
    border-left-color: #C55A11 !important;
    border-top-left-radius: .25rem;
}

.dataTable.table-bordered thead tr:first th:last-of-type {
    border-right-width: 2px !important;
    border-right-color: #C55A11 !important;
    border-top-right-radius: .25rem;
}

.dropdown-menu {
    min-width: 6rem;
}

.dropdown-menu-center {
    top: 32px !important;
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
    text-align: center;
}

.swal2-header {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
}

/* .alert-warning {
    color: #fff;
} */

.form-control-sm {
    padding-left: 0;
}

.page-link:hover {
    color: #003D7A;
}

.text-sm .nav-link {
    padding: .5rem 1rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.dataTable tbody tr.pointer {
    cursor: pointer;
}


:disabled {
    background-color: #e9ecef !important;
    cursor: not-allowed !important;
    background-image: none;
    background-size: 0px 1px, 100% 1px !important;
}

.form-group textarea.form-control {
    height: auto;
}

.dataTables_length .custom-select-sm {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.block-loader {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000081;
    z-index: 100000;
    top: 0;
    right: 0;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #003D7A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input[type="checkbox"i] {
    cursor: pointer;
}

/* custom form */
/* .custom-control-label::before {
    top: 0.1rem;
    height: 14px;
    width: 14px;
    background-color: transparent;
    box-shadow: none;
    border-color: #646464;
}

.custom-control-label::after {
    height: 14px;
    width: 14px;
}

.custom-control-label::after {
    top: 0.1rem;
} */

.modal {
    z-index: 10000 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
    z-index: 0;
}

.wrapper,
body,
html {
    min-height: calc(100% - 48px);
    background-color: transparent !important;
}

.modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.modal-header .close, .modal-header .mailbox-attachment-close {
    padding: 0.8rem;
    margin: -0.6rem -0.8rem -0.8rem auto
}

.modal-header h4 {
    font-size: 1.2rem;
}

.small-box p {
    font-size: 13px;
}

.small-box .disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/* width */
.select2-results__options::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.select2-results__options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Handle */
.select2-results__options::-webkit-scrollbar-thumb {
    background: #00000080;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Handle on hover */
.select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.invalid-tooltip {
    z-index: 1000;
}

.small-box {
    margin-bottom: 12px;
}

.small-box h3 {
    line-height: 1.2;
    margin-bottom: 0;
}

.small-box p {
    margin-bottom: 0;
}

.small-box .icon>i.fa,
.small-box .icon>i.fab,
.small-box .icon>i.far,
.small-box .icon>i.fas,
.small-box .icon>i.glyphicon,
.small-box .icon>i.ion {
    font-size: 50px;
}

.small-box:hover .icon>i.fa,
.small-box:hover .icon>i.fab,
.small-box:hover .icon>i.far,
.small-box:hover .icon>i.fas,
.small-box:hover .icon>i.glyphicon,
.small-box:hover .icon>i.ion {
    font-size: 55px
}

.dashboard .card {
    margin-bottom: 12px;
}

.dashboard .card .card-header {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dashboard .card .card-footer {
    padding-top: 8px;
    padding-bottom: 8px;
}

#dashboardTab .nav-item .nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-number {
    max-width: 36px;
}

.dashboard .progress {
    flex: 1 !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #003D7A;
    font-weight: 600;
}

.layout-navbar-fixed .wrapper .brand-link {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
}

.about-img {
    height: calc(100vh - 180px);
    min-height: calc(100vh - 180px);
}

.btn-upload {
    cursor: pointer;
}

.btn-upload.disabled {
    cursor: not-allowed;
}

.daterangepicker{
    z-index: 99999;
}

.alert-dismissible .close, .alert-dismissible .mailbox-attachment-close {
    padding: 0 6px;
    margin: 9px 10px;
}

/* Input form */
.custom-file-label.disabled{
    background-color: #E9ECEF;
    cursor: not-allowed;
}
.custom-file-label::after{
    display: none;
}
.custom-file, .custom-file-label {
    height: calc(30px + 2px);
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #003D7A88;
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #003D7A;
}

.form-group.label-floating .custom-file-label {
    border-top : none;
    border-left: none;
    border-right: none;
    padding-left: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.viewFull .divgallery {
    width: 100% !important;
}

.swal2-title{
    font-size: 18px;
}

section.content{
    display: flex;
}

@media (max-width: 1468px) {
    .dashboard .card .card-header h3 {
        font-size: 14px !important;
    }
}

@media (max-width: 1370px) {
    .text-sm {
        font-size: 11px !important;
    }

    .form-group.label-static label.control-label,
    .form-group.label-floating.is-focused label.control-label,
    .form-group.label-floating:not(.is-empty) label.control-label {
        font-size: 11px !important;
    }

    .form-control-sm {
        font-size: 11px !important;
    }

    .checkbox label,
    .radio label,
    label,
    .label-on-left,
    .label-on-right {
        font-size: 11px !important;
    }

    .text-sm .btn {
        font-size: 11px !important;
    }

    .form-control::-moz-placeholder {
        font-size: 11px !important;
    }

    .form-control:-ms-input-placeholder {
        font-size: 11px !important;
    }

    .form-control::-webkit-input-placeholder {
        font-size: 11px !important;
    }
}

@media (max-width: 575px) {
    .title-contact {
        font-size: 16px;
    }

    .about-img {
        height: 100%;
        min-height: 100%;
        width: 100%;
    }

    .mt-s-0 {
        margin-top: 0;
    }

    .card-body {
        padding: 15px;
    }

    .dataTables_info {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    .searchForm {
        margin-right: 0px;
    }
}

@media (max-width: 360px) {
    .title-contact {
        font-size: 14px;
    }
}

@media (max-height: 700px) {
    .about-img {
        height: 600px;
    }

    .header-about {
        display: none;
    }

    .content-h {
        margin-top: 15px;
    }
}